#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	db:
		name: mangopress
php:
	date.timezone: Europe/Bratislava
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: MangoPress\*Module\*Presenter

	session:
		expiration: 14 days

database:
	dbname: %db.name%
	uri: mongodb://localhost/%db.name%
	cachePrefix: %db.name%
	metaDataCache: @metaDataCache
	autoGenerateHydratorClasses: FALSE
	autoGenerateProxyClasses: FALSE
	eventManager: @odmEventManager

redis:
	host: 127.0.0.1
	port: 6379
	timeout: 10
	database: 0
	storage: on
	journal: on
	session: on

factories:

includes:
	- elasticsearch.neon
	- extensions.neon
	- services.neon
