#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	db:
		name: mangopress
php:
	date.timezone: Europe/Bratislava
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: MangoPress\*Module\*Presenter

	session:
		expiration: 14 days

extensions:
	database: Bazo\MongoDb\DI\DocumentManagerExtension
	odmCommands: Bazo\MongoDb\DI\DoctrineODMCommandsExtension
	console: Extensions\ConsoleExtension
	mediator: Extensions\MediatorExtension
	redis: Kdyby\Redis\DI\RedisExtension
	elasticSearch: Bazo\ElasticSearch\DI\ElasticSearchExtension

database:
	dbname: %db.name%
	uri: mongodb://localhost/%db.name%
	cachePrefix: %db.name%
	metaDataCache: @metaDataCache
	autoGenerateHydratorClasses: FALSE
	autoGenerateProxyClasses: FALSE
	eventManager: @odmEventManager

redis:
	host: 127.0.0.1
	port: 6379
	timeout: 10
	database: 0
	storage: on
	journal: on
	session: on

services:

	odmEventManager: 
		class: Doctrine\Common\EventManager
		setup:
			- addEventSubscriber(@timestampableListener)
			- addEventSubscriber(@blameableListener)

	#odm listeners
	timestampableListener: Gedmo\Timestampable\TimestampableListener
	blameableListener: MangoPress\Listeners\BlameableListener(@container)
	softDeleteableListener: Gedmo\SoftDeleteable\SoftDeleteableListener

	ablameableListener: 
		class: \Gedmo\Blameable\BlameableListener
		setup:
			- setUserValue('ds')
			
	tagsManager:
		class: Posts\TagsManager
		tags: [subscriber]

	#cache
	metaDataCache: Doctrine\Common\Cache\FilesystemCache(%tempDir%/cache/_Doctrine.Metadata)

	#routing
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	#security
	- Security\UserManager

	baseManager: BaseManager

	#posts
	- Posts\PostsManager
	indexingListener:
		class: Search\IndexingListener
		tags: [subscriber]

	- Settings\SettingsManager
	postsIndexer: Posts\PostsIndexer
		
	#queue
	- Queue\QueueManager
	queueConsumer: 
		class: Queue\Consumer
		setup:
			- setSleep(60)

	- Symfony\Component\Console\Output\ConsoleOutput
factories:

includes:
	- elasticsearch.neon
